<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
        <script src="https://kit.fontawesome.com/3637a395ce.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <title>QU | LiveChat</title>
    </head>
    <body>
        <div class="container">
            <div class="status">
                <center>
                    <h3>QU | CHAT ROOM</h3>
                    <span></span><p><strong id="handle"></strong>, WELCOME!</p>
                </center>
            </div>
            <div class="text-container">
                <div class="text-view">
                    <div id="feedback"></div>
                    <div id="output"></div>
                </div>
                
                <div class="draftbox">
                    <input type="file" id="file-input" name="file-upload" hidden="hidden" multiple accept=".docx, .doc, .mp3, .mp4, .pdf, .jpg, .png, .jpeg, .xlsx">
                    <button id="attachment" type="button"><i class="fas fa-paperclip fa-lg" style="color:rgb(104,104,104);"></i></button>
                    <input id="message" class="draft-field" autocomplete="off" autofocus="on" type="text" placeholder="Type a message...">
                    <button id="send"><i class="fas fa-paper-plane fa-lg" style="color:rgb(104,104,104);"></i></button>
                </div>
            </div>
        </div>
        <script src="/js/chat.js"></script>
    </body>
</html>